{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo_mobile: Logo for site on mobile devices.
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    {%
      set site_logo_classes = [
        'site-logo',
        site_logo_mobile ? 'site-logo--desktop'
      ]
    %}
    {% if site_logo_mobile %}
      <a href="{{ path('<front>') }}" rel="home" class="site-logo site-logo--mobile">
        <img src="{{ site_logo_mobile }}" alt="{{ 'Home'|t }}" />
      </a>
    {% endif %}
    <a href="{{ path('<front>') }}" rel="home" class="{{ site_logo_classes|join(' ') }}">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  {% if site_name %}
    <div class="site-name">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    </div>
  {% endif %}
  {% if site_slogan %}
    <div class="site-slogan">{{ site_slogan }}</div>
  {% endif %}
{% endblock %}
